.container {
    background-color: rgb(233, 233, 233);
    padding: 15px;
    margin-bottom: 20px;
}

table{
    margin-bottom: 10px;
}


.userDate {

    display: flex;
    flex-direction: row;

}

.item {
    margin: 10px;
}

.container {
    height: fit-content;
}

body {
    background-image: url(../images/bg.jpg);
}

.btn-primary {
    margin: auto;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
}

@media (max-width: 900px) {  

    body {
        width: 300px;
    }

    .userDate {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    table {
        overflow-x: auto;
    }


}