.container {

    margin: 50px;
    display: flex;
    height: fit-content;
    padding: 10px;
}



.flexItem {
    margin-top: 25px;
}

.container {
    background-color: rgb(233, 233, 233);
}


body {
    background-image: url(../images/bg.jpg);
}

.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AttendList {
    width: 1000px;
    margin-left: 10px;

}

.pTitle {
    font-weight: 700;
}


@media (max-width: 900px) {

    body{
     width: 900px; 
    }

    .container {

        display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: fit-content;
                   
    }
   
    .AttendList {
        margin-top: 10px;
        width: 400px;
    } 

    .title {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}