.container {
    border: 1px solid #000000;
    border-radius: 25px;
    margin: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 419px;
}


.flexItem{
    margin-top: 25px;
}
.container {
    background-color: rgb(233, 233, 233);
}


body{
    background-image: url(../images/bg.jpg);
}

