.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container {
    background-color: azure;
}


body{
    background-image: url(../images/bg.jpg);
}