.container {
    display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

body{
    background-image: url(../images/bg.jpg);
}

.container {
    background-color: rgb(233, 233, 233);
}


.card{
    padding: 50px;
    margin: 50px;
}


@media (max-width: 900px) {

    body {
        width: fit-content;
    }

    .container {
        display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: fit-content;
    }

    .card{
        
            max-width: 500px;
            max-height: 500px; /* Adjust the value as needed */
        
    }


}