.navbar-brand{
    padding-left: 20px;
    
}

.navbar a {
    color: white;
}

@media (max-width: 900px) {

   
    .navbar-expand-lg navbar-light bg-danger{
        display: flexbox;
        align-items: center;
        justify-content: center;
        position: fixed;

    }
}
