.container {
    margin-bottom: 28px;

    border-radius: 25px;
    display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
}

body{
    background-image: url(../images/bg.jpg);
}


.image {
    margin-right: 30px;
}

.container{
    background-color: rgb(233, 233, 233);
}

.btn-primary{
    margin-top: 10px;
    width: 300px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.form-group{
    margin-top: 10px;

}