.container {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 50px;


}

.image {
    margin-right: 30px;
}

body {
    background-image: url(../images/bg.jpg);
}

.container {
    background-color: rgb(233, 233, 233);

}

.form-group {
    margin-top: 10px;
}

.alternate{
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
}

.btn-primary {
    margin-top: 10px;
    width: 300px;
}